
            $color-primary: #000100;
            $color-secondary: #C1C1BF;
            $color-success: #45b649;
            $color-danger: #f85032;
            $color-warning: #ffd700;
			$color-info: #00c9ff;
			$color-info: #00c9ff;
			$color-tertiary: #C1C1BF;
            $color-selected: #ffd805;
            